* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  font-weight: bold;
}
.forecast {
  font-size: 0.9em;
}
span {
  font-size: 1em;
}
.form-input.weather-search {
  width: 100%; /* Set the width as needed, e.g., 100% for full width */
  height: 40px;
  max-width: 400px; /* set a maximum width */
  margin-bottom: 15px;
}
button {
  width: 100%; /* Set the width as needed, e.g., 100% for full width */
  max-width: 400px; /* set a maximum width */
}
#forecast-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent cards from wrapping to the next line */
  /* overflow-x: auto; Enable horizontal scrolling if needed */
  max-width: 100%; /* Set a maximum width to avoid extending beyond the viewport */
}
.forecast-heading {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.weather-card {
  /* Adjust card styles as needed */
  flex: 1;
  width: 200px; /* Set a fixed width for each card */
  margin-right: 10px; /* Add margin between cards */
  margin-top: 5px;
  background-color: #0275d8;
  margin-bottom: -10px;
}
.list-group-item {
  margin-bottom: 20px;
}
